<%= check_box_tag 'toggle-all', '1', Todo.active.none?,
  data: { remote: true, url: toggle_all_todos_url, method: :patch },
  class: 'toggle-all'
%>
<%= label_tag 'toggle-all', 'Mark all as complete' %>
<ul class="todo-list">
  <% @todos.each do |todo| %>
    <li class="<%= 'completed' if todo.completed? %>">
      <div class="view">
        <%= check_box_tag nil, nil, todo.completed,
          data: {
            remote: true,
            url: todo_path(todo),
            params: { todo: { completed: !todo.completed } }.to_param,
            method: :patch
          },
          class: 'toggle',
          id: nil
        %>
        <label><%= todo.title %></label>
        <%= button_to(todo, remote: true, method: :delete, class: 'destroy') {} %>
      </div>
    </li>
  <% end %>
</ul>
