<!DOCTYPE html>
<html>
  <head>
    <title>TodoMVC Rails 6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="todoapp">
      <%= render 'layouts/header' %>
      <% if Todo.any? %>
        <section class="main">
          <%= yield %>
        </section>
        <%= render 'layouts/footer' %>
      <% end %>
    </section>
  </body>
</html>
